  .tickets {
    display: flex;
    flex-direction: column;
  }

  .tickets-container {
    margin: 1rem 5rem 0rem 5rem;
  }

  .tickets-container > h2 {
    margin-top: 0;
  }

  .ticket {
    background-color: var(--white);
    border: 1px solid var(--outline);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  /* This targets all the child elements of the element with the .ticket class */
  .ticket > * {
    padding: 0.5rem;
  }

  .ticket-info {
    color: var(--outline);
    font-family: "Roboto", sans-serif;
  }

  /* This targets any footer element that is a child of an element with the .ticket class */
  .ticket > footer {
    display: flex;
    border-top: 1px solid var(--outline);
    align-items: center;
    justify-content: space-between;
  }

  /* This targets any element that is a child of a footer that is a child of an element with the .ticket class */
  .ticket > footer > * {
    flex-basis: 22%;
  }

  .filter-btn {
    margin-right: 2rem;
  }

  .ticket-search {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--outline);
    border-radius: 0.25rem;
    margin-left: auto;
  }

  .filter-bar {
    display: flex;
  }

  /* CUSTOMERS */

  .customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
  }

  .customers > * {
    flex-basis: 31%;
    margin: 0.5rem;
  }

  section.customer {
  margin: 3rem;
}

.customer {
  background-color: var(--white);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 1rem;
}

.customer-info {
  color: var(--info);
  font-family: "Roboto", sans-serif;
}

.customer-header {
  font-size: larger;
  font-weight: 700;
  line-height: 3rem;
  color: var(--primary);
}

  /* USERS */

  .user {
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .user-info {
    color: var(--info);
    font-family: "Roboto", sans-serif;
  }

  .user:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

  /* EMPLOYEES */

    .employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
  }

  .employees > * {
    flex-basis: 31%;
    margin: 0.5rem;
  }

  .employee {
  background-color: var(--white);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 1rem;
}

section.employee {
  margin: 3rem;
}

.employee-info {
  color: var(--info);
  font-family: "Roboto", sans-serif;
}

.employee-footer {
  margin: 1rem 0 0.25rem 0;
  font-style: oblique;
}

.employee-header {
  font-size: larger;
  font-weight: 700;
  line-height: 3rem;
  color: var(--primary);
}